@import './variables.scss';
@import './mixins.scss';
@import './1px.scss';
@import './my-reset.scss';
@import './icon.scss';
@import './reset-vant.scss';



.my-btn {
	min-width: 30px;
	height: 2em;
	line-height: 2em;
	border: 1px solid $darkBlue;
	color: $darkBlue;
	padding: 0 0.8em;
	border-radius: $borderRadiusSmall;
  font-size: $fontSize * 0.8;
  width: fit-content;
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
}

/** 选择文件夹input */
.hidden-input {
	visibility: hidden;
	position: absolute;
	z-index: -1;
}
