
/* 提示消息 Notify */
.van-popup.van-popup--top.van-notify{
  font-size: 16px;
  font-weight: bold;
  text-align: left;
}

// van-notify--success

.van-radio{
  // margin-right: 5em;

  .van-radio__icon{
    // border-radius: 4px;
  }
  .van-icon{
    border-radius: 3px;
  }
  .van-radio__label{
    font-size: $fontSize * 1.12;
    padding-right: 60px;
  }
}


.van-button{
  height: 36px;
  line-height: 36px;
  
  display: flex;
  justify-content: center;
  align-items: center;
}


.van-popup{
  background-color: transparent;
}