/* 1单位长度 */
$one: 100vmin/375;

/* 颜色 */
$white: white;
$black: #1b262c;
$red: #fd5959;
$yellow: #fff3a7;
$brown: #ffe5ab;

$lightBlue: #d3f4ff;
$blue: #6892d5;
$darkBlue: #015668;
$darkCyan: #588da8;


$lightGray: #f9f9f9;
$gray: #ededed;





$fontSize: 16px;



$borderRadiusSmall: 2px;
$borderRadius: 4px;
$borderRadiusLarge: 8px;